<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="windows-874">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Setup Custom Form</title>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/vendor/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="js/style.css">
    <link rel="stylesheet" href="lib/vendor/select2/select2.min.css">
    <link rel="stylesheet" href="js/vue-multiselect.min.css">
    <!--===============================================================================================-->
    <script src="lib/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="../../../js/vue.js"></script>
    <script src="lib/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="js/vm.js" defer></script>
    <script src="js/vue-multiselect.min.js"></script>
    <script src="js/Notification.js"></script>
    <script src="js/data.js"></script>
    <!--===============================================================================================-->
</head>
<style>
    .notification {
        padding: 20px;
        background-color: #f44336;
        color: #fff;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        border: 1px solid transparent;
        border-radius: .3rem;
        position: absolute;
        z-index: 999;
    }

    .notification.success {background-color: #006400;}
    .notification.info {background-color: #2dacd1;}
    .notification.warning {background-color: #f39c12;}
    .notification.error {background-color: #e85656;}
    .notification.process {background-color: rgba(0,0,0,.9);}

    .notification.top {top: 1%;}
    .notification.middle {top: 50%}
    .notification.bottom {bottom: 1%}
    .notification.left {left: 1%;}
    .notification.center {left: 50%;}
    .notification.right {right: 1%;}

    .closebtn {
        margin-left: 15px;
        color: #fff;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
        }
        .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
</style>
<body>
    <div id="vm">
        <!-- sidebar ซ้ายมือ-->
        <div class="side-nav">
            <h4><u>Template List</u></h4>
            <!-- เลือก Type -->
            <div class="border-top mt-3">
                <div class="form-group row mt-3">
                    <label for="ddl_typeLeft" class="col-sm-2 col-form-label"><b>Type</b></label>
                    <div class="col-sm-10">
                        <select @change="fillterListTemplate" id="ddl_typeLeft" class="form-control">
                            <option disabled selected value="">Choose...</option>
                            <option
                            v-for="fixCustomTemplateGroup in listFixCustomTemplateGroup"
                            :value="fixCustomTemplateGroup.objectID">
                                {{ fixCustomTemplateGroup.description }}
                            </option>
                        </select>
                    </div>
                </div>
                <!-- ตาราง template list -->
                <table class="table table-hover mt-5">
                    <thead class="blue">
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                        v-for="el in listBaseCustomTemplate"
                        @click="readEditTemplate(el)"
                        :class="['table-light', { 'outline-black' : el.objectID == baseCustomTemplate.objectID}]">
                            <th scope="row">{{ FIX.FixCustomTemplateGroup[el.fixCustomTemplateGroup] }}</th>
                            <td>{{ el.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- container ด้านชวา -->
        <div class="container-right">
            <div class="container">
                <!-- (เพิ่ม, ลบ, inactive) -->
                <div class="row border-bottom">
                    <div class="col">
                        <button @click="craeteNewTemplate()" type="button" class="btn blue" title="create new template">NEW</button>
                    </div>
                    <div class="col text-right">
                        <i
                        :class="classInActive"
                        @click="toggleInActive()"
                        aria-hidden="true"
                        title="Inactive"></i> <!-- Inactive -->
                        <i @click="deleteTemplate()" class="fa fa-trash fa-2x icon-delete" aria-hidden="true" title="Delete"></i> <!-- Delete -->
                    </div>
                </div>
                <!-- (กรอก type, name) -->
                <div class="row mt-4 mb-4">
                    <div class="col  row">
                        <label for="ddl_typeRight" class="col-sm-2 col-form-label"><b>Type</b></label>
                        <div class="col-sm-10">
                            <select
                            @change="changeTemplateGroup()"
                            v-model="baseCustomTemplate.fixCustomTemplateGroup"
                            :disabled="checkEmpty"
                            id="ddl_typeRight" class="form-control">
                                <option v-for="fixCustomTemplateGroup in listFixCustomTemplateGroup" :value="fixCustomTemplateGroup.objectID">
                                    {{ fixCustomTemplateGroup.description }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col row">
                        <label for="txtTemplateDescript" class="col-sm-3 col-form-label"><b>Name</b></label>
                        <div class="col-sm-7">
                            <input
                            v-model.trim="baseCustomTemplate.description"
                            :disabled="checkEmpty"
                            type="text"
                            class="form-control"
                            id="txtTemplateDescript">
                        </div>
                    </div>
                </div>

                <!-- iFrame ของ Custom Form -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="ifrmCustomForm" class="embed-responsive-item" src="CustomForm/min.html" allowfullscreen></iframe>
                </div>

                <!-- Department -->
                <div v-show="checkHaveDepartment" class="card mt-3">
                    <h5 class="card-header blue">Department</h5>
                    <div class="card-body">
                        <vue-multiselect
                        @click='test()'
                        v-model="selectDepartment"
                        :options="listBaseDepartment"
                        :multiple="true"
                        :close-on-select="false"
                        :hide-selected="true"
                        :preserve-search="true"
                        :clear-on-select="false"
                        track-by="description"
                        label="description"
                        placeholder="เลือกแผนก.."
                        >
                            <template slot="tag" slot-scope="props">
                                <span class="multiselect__tag"><span>{{ props.option.description }}</span>
                                <span class="multiselect__tag-icon" @click="props.remove(props.option)"></span>
                            </template>
                        </vue-multiselect>
                    </div>
                </div>

                <!-- save button -->
                <div class="row mt-3">
                    <div class="col text-right">
                        <button v-show="!checkEmpty" @click="saveTemplate()" type="button" class="btn blue" title="save template">Save</button>
                    </div>
                </div>

                <imed-notification ref="notification"></imed-notification>
            </div>
        </div>
    </div>
</body>

</html>